---
toc: false
comments: false
layout: post
title: Soccer Stats Table
description: Table with the sport stats of the best players from the best sports
courses: { csp: {week: 2} }
type: tangibles
---

%%html

<!-- Head contains information to Support the Document -->
<head>
    <!-- load jQuery and DataTables output style and scripts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>var define = null;</script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>

<!-- Body contains the contents of the Document -->
<body>
    <table id="demo" class="table">
        <thead>
            <tr>
                <th>Player</th>
                <th>Position</th>
                <th>Trohpy Count</th>
                <th>Goals</th>
                <th>Assists</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Christiano Ronaldo</td>
                <td>Striker</td>
                <td>34</td>
                <td>847</td>
                <td>268</td>
            </tr>
            <tr>
                <td>Heung-min Son</td>
                <td>Winger</td>
                <td>1</td>
                <td>231</td>
                <td>97</td>
            </tr>
            <tr>
                <td>Lionel Messi</td>
                <td>Winger</td>
                <td>43</td>
                <td>820</td>
                <td>325</td>
            </tr>
            <tr>
                <td>Rio Ferdinand</td>
                <td>Central Defender</td>
                <td>16</td>
                <td>16</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Neymar Jr.</td>
                <td>Winger</td>
                <td>30</td>
                <td>437</td>
                <td>201</td>
            </tr>
            <tr>
                <td>Sergio ramos</td>
                <td>Central Defender</td>
                <td>30</td>
                <td>133</td>
                <td>33</td>
            </tr>
            <tr>
                <td>Roberto Carlos</td>
                <td>Left Back</td>
                <td>21</td>
                <td>117</td>
                <td>13</td>
            </tr>
            <tr>
                <td>Zinedine Zidane</td>
                <td>Midfielder</td>
                <td>14</td>
                <td>156</td>
                <td>48</td>
            </tr>
            <tr>
                <td>Ji-sung Park</td>
                <td>Midefielder</td>
                <td>2016</td>
                <td>60</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Marcelo</td>
                <td>Left Back</td>
                <td>25</td>
                <td>54</td>
                <td>94</td>
            </tr>
            <tr>
                <td>Ronaldinho</td>
                <td>Winger</td>
                <td>14</td>
                <td>295</td>
                <td>95</td>
            </tr>
        </tbody>
    </table>
</body>

<!-- Script is used to embed executable code -->
<script>
    $("#demo").DataTable();
</script>